[mysqld]
port=3306
user=mysql

character-set-server=utf8
symbolic-links=0
event-scheduler=on

skip-name-resolve
skip-external-locking
max_connections=500

max_allowed_packet=1024M

table_open_cache=8192
sort_buffer_size=256K
read_buffer_size=326K
read_rnd_buffer_size=256K
join_buffer_size=1M

net_buffer_length=8M
thread_stack=512K
back-log=2048
open-files-limit=65535

query_cache_type=1
query_cache_limit=2M
query_cache_size=64M

thread_cache_size=128
tmp_table_size=64M
max_heap_table_size=64M

wait_timeout=600
connect_timeout=10

slow_query_log=1
long_query_time=2
slow_query_log_file=/var/log/mysql/mysqld.slow.log

binlog-format=MIXED
server-id=1
gtid-mode=on
enforce-gtid-consistency=true
log-bin
log-slave-updates=true
expire_logs_days=3

innodb_buffer_pool_size=2G
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=2
innodb_log_buffer_size=8M

[mysqldump]
quick
max_allowed_packet=1024M

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
